<a href="https://colab.research.google.com/github/jabhiro/Pemograman-Dasar/blob/main/Praktikum_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Deklarasi variabel list
numbers = [23, 43, 15, 34]
# Cara mengakses elemen dalam variabel list
numbers[0] # 23
numbers[1] # 43
numbers[2] # 15
numbers[3] # 34
# Cara mengubah nilai elemen dalam variabel list
numbers[2] # 51
numbers[2] # 51

print (numbers[2]) #lakukan untuk setiap indexnya dan lihat hasilnyas

15

In [ ]:
# Deklarasi variabel list numbers
numbers = [1, 2, 3]

# Menambahkan elemen di indeks ke-4
numbers.insert(4, 5)  # [1, 2, 3]

# Mengubah elemen di indeks ke-4
# numbers[3] = 4  #[1, 2, 3, 4]

# Mengubah elemen di indeks ke-2
# numbers.pop(2)  # [1, 2, 4]

print(numbers)
#print lalu lihat hasilnya

[1, 2, 3, 5]

In [ ]:
# deklarasi variabel list
myList = [1, "rumah", 4.5, True, ["Kamar Mandi", "Kamar Tidur"]]

# cara mengakses elemen dalam variabel list
myList[0] #1
myList[1] # "rumah"
myList[2] # True
myList[4] # ["Kamar mandi", "Kamar tidur"]

# cara mengakses elemen dalam sublist
myList[4][0] # "kamar mandi"
myList[4][1] # "Kamar tidur"

# Lakukan print lalu amati hasilnya

'Kamar Tidur'

In [ ]:
# Slicing List
x = ["laptop", "monitor", "mouse", "mousepad", "keyboard", "webcam", "microphone"]

print(x[0:5:2])
print(x[1:])
print(x[:3])

"""
Output:
['laptop', 'mouse', 'keyboard']
['monitor', 'mouse', 'mousepad', 'keyboard', 'webcam', 'microphone']
['laptop', 'monitor', 'mouse']

"""

['laptop', 'mouse', 'keyboard']
['monitor', 'mouse', 'mousepad', 'keyboard', 'webcam', 'microphone']
['laptop', 'monitor', 'mouse']

"\nOutput:\n['laptop', 'mouse', 'keyboard']\n['monitor', 'mouse', 'mousepad', 'keyboard', 'webcam', 'microphone']\n['laptop', 'monitor', 'mouse']\n\n"

In [ ]:
# Tuple
x = (1, "Polibatam", 1+3j)
print(type(x))

"""
Output:
<class 'tuple'>
"""

<class 'tuple'>

"\nOutput:\n<class 'tuple'>\n"

In [ ]:
# Indexing Tuple
x = (5, 'program', 1+3j)
print(x[1])
print(x[0:3])

"""
Output:
program
(5, 'program', (1+3j))

"""

program
(5, 'program', (1+3j))

"\nOutput:\nprogram\n(5, 'program', (1+3j))\n\n"

In [ ]:
# Immutable Tuple
x = (5, 'program, 1+3j)
x[1] = 'Polibatam'

"""
Output:
'tuple' object does not support item assignment
"""

SyntaxError: unterminated string literal (detected at line 2) (ipython-input-236170990.py, line 2)

In [ ]:
# deklarasi variabel tuple
numbers = (23, 43, 15, 34)

# cara mengakses elemen dalam variabel tuple
numbers[0] # 23
numbers[1] # 43
numbers[2] # 15

# lakukan print lalu amati hasilnya

15

In [ ]:
# SET
# Deklarasi variabel set a dan b
a = {1, 2, 3}
b = {2, 3, 4}

# operasi gabungan
a.union(b)  # {1, 2, 3, 4}

# operasi irisan
a.intersection(b)  # {2, 3}

# operasi perbedaan
a.symmetric_difference(b)  # {1, 4}

#lakukan print dan lihat hasilnya

{1, 4}

In [ ]:
# Dictionary
x = { 'name': 'Perseus Evans', 'age' : 20, 'isMarried': False }
print(type(x))

x = { 'name': 'Perseus Evans', 'age' : 20, 'isMarried': False }
print(x['name'])

<class 'dict'>
Perseus Evans

In [ ]:
#_No indexing
x = { 'name': 'Perseus Evans', 'age' : 20, 'isMarried': False }
print(x[0])

KeyError: 0

In [ ]:
#_Menambah Data
x = { 'name': 'Perseus Evans', 'age' : 20, 'isMarried': False }
x ['job'] = "Web Developer"

print(x)

{'name': 'Perseus Evans', 'age': 20, 'isMarried': False, 'job': 'Web Developer'}

In [ ]:
#_Menghapus Data
x = { 'name': 'Perseus Evans', 'age' : 20, 'isMarried': False }
del x['isMarried']
print(x)

{'name': 'Perseus Evans', 'age': 20}

In [ ]:
#_Mengubah Data
x = { 'name': 'Perseus Evans', 'age' : 20, 'isMarried': False }
x ['name'] = "Exvan"
print(x)

{'name': 'Exvan', 'age': 20, 'isMarried': False}

In [ ]:
# deklarasi variabel dictionary
propertyDetail= {"numFloors": 1, "propertyType": "Rumah", "hasTerrace": True, "hasGarage": False}

# cara mengakses elemen dalam variabel dictionary
propertyDetail["numFloors"]  #1
propertyDetail["propertyType"] # rumah
propertyDetail["hasTerrace"]  # True
propertyDetail["hasGarage"]  # False

# cara mengubah nilai elemen dalam variabel dictionary
propertyDetail["hasTerrace"] = False
propertyDetail["hasTerrace"] # False

# print(propertyDetail["propertyType"])

False